.page-container {
    background-color: #282c34;
    color: #61dafb;
    height: 100%;
    width: 100%;
    position: absolute;
}

.header {
    position: absolute;
    top: 20%;
    width: 100%;
}

.login-group {
    position: absolute;
    top: 40%;
    width: 100%;
}

.input-wrapper {
    margin-top: 20px;
}

.submit-button-group {
    margin-top: 15px;
}


