extends ../../modal.pug

block modal-content
    
    div(class="modal-content" id="delete-team-modal-content")
        form(class="basic-form-column" action="/delete_team" method="POST") 
            input(type="hidden" name="teamId" value=teamId)
            div(class="form-box")
                p 
                    | Are you sure you want to delete #{teamName}?
                input(type="button" id="cancel-delete-team" + teamId class="basic-button" value="Cancel")
                input(type="submit" id="submit-delete-team" class="basic-button" value="Delete")
