doctype html
html(lang='en')
    link(rel="stylesheet" type='text/css' href="./../css/adminpanel.css")
        
    body
        div(id = 'admin-panel' class = 'admin-panel-collapsed')
            p(class='admin-text')
                | Admin Tools
            block admin-tools-content
            script(src="./../../js/adminpanel.js") 
