doctype html
html(lang='en')
    style
        include adminpanel.css
        
    body
        div(id = 'admin-panel' class = 'admin-panel-collapsed')
            p(class='admin-text')
                | Admin Tools
            block admin-tools-content
        script
            include adminpanel.js 
