body {
    margin-top: 64px;
    color: #f2f2f2;
    background-color: #273440;
}

.sidebar{
    width: 25%;
    height: 100%;
    min-width: 150px;
    max-width: 250px;
    background-color: #1D2832;
    z-index: 1;
    border-left-width: 1px;
    border-left: #1D2832;
    float: left;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    scrollbar-color: dark;
    scrollbar-width: thin;
    border-right: 1px solid #1D2832;
}

h5.section{
    width: 100%;
    background-color: #273440;
    padding: 10px;
    margin: 0px;
}

.section{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.tournament{
    border-top: 1px solid #273440;
    width: 100%;
    height: 55px;
}

.tournament-info{
    float: left;
    height: 100%;
    padding-bottom: 2px;
}

.sidebar-selector{
    float: right;
    height: 100%;
    width: 0.3rem;
    background-color: #1D2832;
}

.tournament:active p{
    color: #518E5A;
}

.tournament:active .sidebar-selector{
    background-color: #518E5A;
}

.tournament p{
    font-size: 20px;
    margin-bottom: 1px;
    padding-left: 5px;
}

.tournament:hover p{
    color: #518E5A;
}

p.tournament-dates{
    font-size: 14px;
    font-style: italic;
}

.main-content{
    margin-left: 25%;
    background-color: #1D2832;
}