#league-name-header{
    padding-right: 10px;
}

#league-description-text {
    padding-right: 10px;
}

#league-game-type-field {
    height: 10%;
}

#league-description-field {
    margin-right: 10px;
}