.login-container {
    display: flex;
    height: inherit;
    justify-content: center;
    align-items: center;
}
.login-card {
    background-color: #353535;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
    padding: 15px;
    height: 550px;
    width: 600px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.signup-forms {
    margin: 13%;
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

form>p {
    margin: 0;
}

input[type=text] {
    margin: 0 0 15px 0;
}

.login-button {
    border-radius: 12px;
    padding: 8px 12px;
    font-size: 18px;
}

.login-field {
    border-radius: 12px;
    padding: 8px 12px;
    font-size: 18px;
}
