/* Some of the following styling has been influenced by W3Schools https://www.w3schools.com/css/ */
.main-text {
    color: gray;
}

.title-text {
    font-size: 60px;
}

.align-center {
    text-align: center;
}

/* This is so the body can be the whole page instead of
    whatever fills it up (needed for flex) */
html {
	height: 100%;
}

body {
	min-height: 100%;
}

html, body {
    margin: 0;
}

body{
    background-color: #2a2a2a;
    color: #e0e0e0;
}

button{
    border-radius: 12px;
    padding: 8px 12px;
    font-size: 18px;
}

.text-link{
    color: #bbbbbb;
}

.modal {
    display: none; /* Hidden by default */
    align-items: center;
    justify-content: center;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    box-shadow: 0px 0px 4px 0px #1a1a1a;
}

.content-obscure {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0.6;
    background-color: black;
}

.modal-content {
    display: flex;
    margin-bottom: 15vh;
    padding: 2%;
    background-color: #2a2a2a;
    border-radius: 25px;
}

.logout {
    text-align: right;
    padding: 0 10px 0 10px;
}
