.delete-league-button {
    cursor: pointer;
    position: absolute;
    font-size: 44px;
    top: 50%;
    right: 0%;
    padding: 12px 16px;
    transform: translate(0%, -50%);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    z-index: 1;
}

.delete-league-button:hover {
    background: #595959;
}