extends ../../adminpanel.pug

block admin-tools-content
    a(href='#' id="add-team")
        | Add team
    a(href='#' id="edit-league")
        | Edit League
    a(href='#' id ="delete-league")
        | Delete League
    a(href='#' id="create-match")
        | Create Match
