doctype html
html(lang='en')
    head
        title Tourney Gen
        link(rel="shortcut icon" href="./../resources/favicon.ico")
        link(rel="stylesheet" type='text/css' href="./../css/tourneygen.css")
        link(rel="stylesheet" type='text/css' href="./../css/404.css")

    body
        div(class="container")
            div(class="tourneygen-img")
                 img(src="./../resources/tourneygenlogo.png")
            div(class="error-message")
                p 404 Not Found
        