doctype html
html(lang='en')
    head
        title Tourney Gen
        link(rel="stylesheet" type='text/css' href="./../css/tourneygen.css")
    body
        h1 
            |   Leagues
        a(data-toggle="modal" href="#normalModal") 
            |   Create new League
        #normalModal(class="modal fade")
            div(class="modal-dialog")
                |   Hi
       
        h1
            |   Matches