doctype html
html(lang='en')
    head
        title Tourney Gen
        link(rel="stylesheet" type='text/css' href="./../css/tourneygen.css")
        link(rel="stylesheet" type='text/css' href="./../css/homeview.css")
    body
        div(class='home-container')
            div(class='category-card')
                h1(class='category-header')
                    | Leagues
                each league in leagues ? leagues : []
                    a(href='home' class = 'list-item')
                        p(class='category-list')
                            | #{league.name}
                a(data-toggle="modal" class='button' id = 'new-league' href="#normalModal") 
                    | Create new League
            div(class='category-card')
                h1(class='category-header')
                    | Teams
                each match in matches ? matches : []
                    a(href='home' class = 'list-item')
                        p(class='category-list')
                            | #{match.name}