doctype html
html(lang='en')
    head
        title Tourney Gen
        link(rel="stylesheet" type='text/css' href="./../css/tourneygen.css")
        link(rel="stylesheet" type='text/css' href="./../css/homeview.css")
    body
        div(class='home-container')
            div(class='category-card')
                p(class='category-card-title')
                    | Leagues
                div(class='category-card-entry-container')
                    if leagues && leagues.length > 0
                        each league in leagues
                            - var url = 'league/' + league.id
                            div(class='category-card-entry-container')
                                a(href=url class = 'list-item category-card-entry-list-item')
                                    div(class='category-card-entries')
                                        p(class='category-list')
                                            | #{league.name}
                                //- a(class="delete-league-button modal-open-button" id="button" + league.id)
                                //-     | &times;

                    else
                        div(class='category-card-entries')
                            p No Leagues

                    

                div(class='button')
                    a(data-toggle="modal" class='button' id = 'new-league') 
                        | Create new League
                    
                p(class='category-card-title')
                    | Teams
                
                div(class='category-card-entry-container')
                    if teams
                        each team in teams
                            div(class='category-card-entries')
                                a(href='home' class = 'list-item')
                                    p(class='category-list')
                                        | #{team.name}
                    else
                        div(class='category-card-entries')
                            p No Teams

            div(id="home-content-obscure" class="content-obscure")
            div(class="modal" id="create-league-modal")
                div(class="modal-content" id="create-league-modal-content")
                    form(class="basic-form-column" action="/create_league" method="POST") 
                        div(class="form-box")
                            h1(class="form-header" id="league-name-header")
                                | League Name:
                            input(type="text" id="league-name-field" class="form-field" name="leagueName")
                        div(class="form-box")
                            p(class="form-text" id="league-description-text")
                                | League Description
                            textarea(id="league-description-field" class="form-field" name="leagueDescription" rows="4" cols="20")
                            p(class="form-text")
                                | Game Played in League
                            input(type="text" id="league-game-type-field" class="form-field" name="leagueGameType")
                        div(class="form-box")
                            input(type="button" id="cancel-create-league" class="basic-button" value="Cancel")
                            input(type="submit" id="submit-create-league" class="basic-button" value="Create")
        script(src="./../js/home.js")
