doctype html
html(lang='en')
    head
        title Tourney Gen - leagues
        link(rel="stylesheet" type="text/css" href="./../../css/tourneygen.css")
        link(rel="stylesheet" type="text/css" href="./../../css/leagues.css")
    if page_rendered
        body
            div(class='home-container')
                div(class='category-card')
                    p(class='category-card-title')
                        | #{league.name}
                        div(class='category-card-entry-container')
                            if tournaments && tournaments.length > 0
                                for tourney in tournaments
                                    a(href='/' class = 'list-item category-card-entry-list-item')
                                        div(class='category-card-entries')
                                            p(class='category-list')
                                                | #{tourney.name}      
                            else
                                div(class='category-card-entries')
                                    p No tournaments for this league
                    div(class='button')
                            a(href='/' data-toggle="modal" class='button' id = 'new-league') 
                                | Home