doctype html
html(lang='en')
    head
        title Tourney Gen
        link(rel="stylesheet" type='text/css' href="./../css/tourneygen.css")
        link(rel="stylesheet" type='text/css' href="./../css/login.css")
    body
        div(class="login-container")
            div(class="login-card")
                img(src="./../resources/tourneygenlogo.png")
                if errors && errors.length > 0
                    for error in errors
                        div(class = 'error-banner')
                            p(class = 'error-message')
                                | #{error}
                div(class="signup-forms")          
                    form(class = "login-form" action = '/login' method="POST")
                        input(type="text" id = "username" class = "login-field" name = "username" placeholder="Username")
                        input(type="submit" id = "submit" class = "login-button" value = "Login")
                p
                    | Click 
                    a(href='/signup' class = 'text-link')
                        | here
                    |  to create an account.
