doctype html
html(lang='en')
    head
        title Tourney Gen
        base(href = '/')
        link(rel="stylesheet" type='text/css' href="./../css/tourneygen.css")
        link(rel="stylesheet" type='text/css' href="./../css/login.css")
        //- script(src='./login.js')
    body
        div(class="login-container")
            div(class="login-card")
                img(src="./../resources/tourneygenlogo.png")
                form(class = "login-form" action = '/submit_login' method="GET")
                    input(type="text" id = "username" class = "login-field" name = "username" placeholder="Username")
                    input(type="submit" id = "submit" class = "login-button" value = "Login")
