extends ../../modal.pug

block modal-content
    style
        include modal.css
    
    div(class="modal-content" id="delete-league-modal-content")
        form(class="basic-form-column" action="/delete_league" method="POST") 
            input(type="hidden" name="leagueId" value=leagueId)
            div(class="form-box")
                p 
                    | Are you sure you want to delete?
                input(type="button" id="cancel-delete-league" class="basic-button" value="Cancel")
                input(type="submit" id="submit-delete-league" class="basic-button" value="Delete")
