html(lang='en')
    link(rel="stylesheet" type='text/css' href="./../css/modal/modal.css")

    body
        div(id="home-content-obscure" class="content-obscure")
        div(class="modal" id=modalId)
            block modal-content
